body {
margin: 0;
  padding: 0;

}

.header-div {
margin: auto;
width: 80%;

}
.header-grid-container {
  margin: auto;
  display: inline-grid;
  grid-template-columns: 1fr 0.5fr 3fr 0.5fr 1fr;
  background-color: #2196F3;
  height: 150px;
  width: 80%;
}

.header-grid-container div {
  height: 150px;
}

.grid-item1 {}

.grid-item1 img {
  max-width: 200px;
}

.grid-item2 {
  position: relative;
  top: calc(50% - 18px);
  text-align: center;
}

.grid-item3 {
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 150px;
  height: 150px;
  text-align: center;
  font-size: 40px;
  min-width: 500px;
}

.grid-item3 p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.grid-item4 {
  position: relative;
  top: calc(50% - 18px);
  text-align: center;
}

.grid-item5 {}

.grid-item5 img {
  max-width: 200px;
}

.nav-container {
margin: auto;
width: 80%;

}
nav {
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 800px; */
  background-color: #f1f1f1;
  /* border: 1px solid red */
}

li {
  float: left;
  /* border: 1px solid red */
}

li a {
  /* display: block; */
  color: #000;
  padding: 8px 50px;
  text-decoration: none;
  background-color: #dddddd;
}